<%- include("layouts/head.ejs", {title:"Tìm kiếm"})%> 
<%- include("layouts/header.ejs")%> 
<%- include("layouts/menu.ejs")%>
<%- include("layouts/slider.ejs")%> 
<!--	List Product	-->
                <div class="products">
                    <div id="search-result">Kết quả tìm kiếm với sản phẩm <span><%= keyword%></span></div>
                    <div class="product-list card-deck">
                        <%for(let item of products){%>
                            <%- include("./components/product_item.ejs",{item})%>
                        <%}%>
                    </div>
                </div>
                <!--	End List Product	-->
            </div>
<%- include("layouts/sidebar.ejs")%> 
<%- include("layouts/footer.ejs")%>